.vContent {
  padding: 30px 0 0;
}
.vWrap {
  width: 73%;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
  font-size: 22px;
  line-height: 1.5;
  padding: 0px 0px 30px;
}
.timeImg {
  display: inline-block;
  max-width: 1000px;
  width: 100%;
}

.vtitle1 {
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 750px) {
  .vContent {
    padding: 5.333rem 2rem 10.667rem;
  }
  .vWrap {
    font-size: 3.467rem;
    width: 100%;
    padding: 0 0 8rem;
    box-sizing: border-box;
    word-break: break-all;
  }
}