
.vWrap {
  width: 73%;
  margin: 0 auto;
  padding:30px 0;
}

.cTitle {
  font-weight: 700;
  font-size: 26px;
  color: #333333;
  margin: 20px 0 0px;
}

.dTitle {
  font-size: 22px;
  color: #333333;
  letter-spacing: 0;
  line-height: 30px;
  margin: 20px 0 0px;
}
.dTitle1 {
  margin: 20px 0 0px;
}
.imgWrap {
  margin: 20px 0 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  padding-bottom: 20px;
}

.venueImg {
  display: inline-block;
  width: 49%;
}
.venueImg1 {
  width: 100%;
}
.venueImg2 {
  display: inline-block;
  margin-left: 1%;
  width: 49%;
}
#map {
  width: 100%;
  height: 500px;
}
.imgWrap1 {
  margin: 20px 0 0px;
  padding-bottom: 20px;
}
.vfImg {
  width: 250px;
}
/* 适配移动端 */
@media screen and (max-width: 750px) {
  .vWrap {
    width: 100%;
    padding:4rem 5.333rem 20rem;
    box-sizing: border-box;
  }
  .imgWrap {
    margin: 2.667rem 0 0px;
    padding-bottom: 2.667rem;
  }

  .cTitle {
    font-weight: 700;
    font-size: 4rem;
    color: #333333;
    margin: 2.667rem 0 0;
  }

  .dTitle {
    font-size: 3.467rem;
    line-height: 4rem;
    margin: 2.667rem 0 0;
  }
  .dTitle1 {
    margin: 2.667rem 0 0;
  }
}